@import "compass/utilities";
@import "compass/css3";

$green: #A5C261;
$border-color: #ddd;

#content > * {
    max-width: none;
}

#identity {
    .fn {
        font-size: 28px;
    }
}

#account {
    margin-top: 48px;
    color: #555;
    font-size: 12px;
}

h1 {
    margin-bottom: 0;
}

ul.tests, ul.versions {
    border-bottom: 1px solid $border-color;
    margin-top: 36px;
    
    a, .item {
        display: block;
        padding: 4px 0 24px 0;
        border-top: 1px solid $border-color;
    }
    
    a {
        &:hover {
            border-top: 4px solid $green;
            padding-top: 1px;
            
            h1 {
                color: $green;
            }
        }
    }
    
    h1 {
        font-size: 18px;
        margin-left: 0;
    }
}

ul.results {
    @include clearfix;
    
    li {
        width: 216px;
        height: 200px;
        @include float(left);
        margin-right: 24px;
        margin-bottom: 24px;
        
        a {
            padding: 0;
            border: 0;
            
            img {
                @include opacity(1);
            }
            
            &:hover {
                border: 0;
                padding: 0;
                
                img {
                    @include opacity(0.5);
                }
            }
        }
    }
}

.meta {
    color: #999;
    font-size: 10px;
    line-height: 12px;
}

.admin {
    position: absolute;
    right: 96px;
    top: 48px;
}