{% load compress orienteer %}<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
    
    <head>
        <meta charset="utf-8">
        <title>{% block site_name %}Philipp Bosch. Cross-Browser Tests.{% endblock %}</title>
        <link href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold|Droid+Sans+Mono" rel="stylesheet">
        <link rel="stylesheet" href="http://pb.io/static/stylesheets/base.css">
        {% compress css %}
            {% compass "screen" "screen, projection" %}
        {% endcompress %}
    </head>
    
    <body>
        <div id="logo">›»</div>
        <header id="header">
            <h1><a href="/">Cross-Browser Tests</a></h1>
            <a href="http://pb.io/" id="identity" class="dimmed">
                <div class="fn">Philipp Bosch</div>
                <div class="subline">Web &amp; Mobile Development</div>
            </a>
        </header>
        
        <section id="content">
            {% block content %}{% endblock %}
        </section>
        
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
        <script src="{{ MEDIA_URL }}static/javascripts/master.js"></script>
        
    </body>
    
</html>



