{% load compress orienteer i18n %}<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
    
    <head>
        <meta charset="utf-8">
        <title>{% block site_name %}Philipp Bosch. Cross-Browser Tests.{% endblock %}</title>
        <link href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold|Droid+Sans+Mono" rel="stylesheet">
        <link rel="stylesheet" href="http://pb.io/static/stylesheets/base.css">
        {% compress css %}
            {% compass "screen" "screen, projection" %}
        {% endcompress %}
    </head>
    
    <body>
        <a href="http://pb.io/" id="logo">›»</a>
        <header id="header">
            <a href="/" id="identity">
                <div class="fn">Cross-Browser Tests</div>
                <div class="subline">Philipp Bosch. Web &amp; Mobile Development.</div>
            </a>
            
            {% if request.user.is_authenticated %}
                <div id="account">
                    {% blocktrans with username=request.user %}Logged in as «{{ username }}»{% endblocktrans %}
                    <a href="{% url logout %}">{% trans "Logout" %}</a>
                </div>
            {% endif %}
        </header>
        
        <section id="content">
            {% block content %}{% endblock %}
        </section>
    </body>
    
</html>



